In [7]:
import os
import pandas as pd

In [8]:
cwd = os.getcwd() # Equivalent to dirname(abspath(__file__))

BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')

# confirm the data dir
os.listdir(DATA_DIR)

['2000.csv',
 '2001.csv',
 '2002.csv',
 '2003.csv',
 '2004.csv',
 '2005.csv',
 '2010.csv',
 '2011.csv',
 '2012.csv',
 '2013.csv',
 '2014.csv',
 '2015.csv',
 '2016.csv',
 '2017.csv',
 '2018.csv',
 '2019.csv',
 '2020.csv']

In [9]:
my_data = os.path.join(DATA_DIR, '2002.csv')
print(os.path.exists(my_data))

True

### Load one of the dataset

In [10]:
df = pd.read_csv(my_data)
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,The Lord of the Rings: The Two Towers,"$936,689,735","$339,789,881",36.3%,"$596,899,854",63.7%
1,2,Harry Potter and the Chamber of Secrets,"$878,979,634","$261,988,482",29.8%,"$616,991,152",70.2%
2,3,Spider-Man,"$821,708,551","$403,706,375",49.1%,"$418,002,176",50.9%
3,4,Star Wars: Episode II - Attack of the Clones,"$645,256,452","$302,191,252",46.8%,"$343,065,200",53.2%
4,5,Men in Black II,"$441,818,803","$190,418,803",43.1%,"$251,400,000",56.9%